.container {
	text-align: center;
	padding: 50px;
	margin-bottom: 10px;
}
.blocks {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.block {
	margin-right: 10px;
	min-width: 500px;
}
input {
	padding: 5px 15px;
}