<div class="container">
  <input (keyup)="onChange($event)">
  <div class="blocks">
    <div class="block">
      <h1>Inputs</h1>
      <div *ngFor="let input of inputs">
        {{input}}
      </div>
    </div>
    <div class="block">
      <h1>Barcodes</h1>
      <div *ngFor="let barcode of barcodes">
        {{barcode}}
      </div>
    </div>
  </div>
</div>

